* {
    box-sizing: border-box;
}

html {
    font-size: 13.44px;
}

body {
    font-family: "Poppins";
}

/* =============== Common ================ */

.content {
    max-width: 1440px;
    width: 100%;
    padding: 0 135px;
}

a {
    display: inline-block;
    text-decoration: none;
}

.btn-black {
    display: inline-block;
    border-radius: 25px;
    color: #fff;
    background-color: #171100;
    padding: 12px 20px;
}

.btn-yellow {
    display: inline-block;
    border-radius: 25px;
    color: #fff;
    background-color: #ffb900;
    padding: 12px 20px;
}

.btn-black:hover,
.btn-yellow:hover {
    opacity: 0.8;
}

/* ================ Header ================== */

.header-sticky {
    position: sticky;
    z-index: 1;
    top: -20px;
    padding-top: 36px;
    background-color: #fffcf4;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-items {
    display: inline-block;
    color: #5f5b53;
    text-align: center;
    padding: 8px 12px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.nav-bar .nav-items-special {
    position: relative;
    color: #171100;
    font-family: Poppins;
    font-weight: 600;
}

.nav-bar .nav-items-special::after {
    position: absolute;
    content: "";
    top: calc(10px + 1.5rem);
    left: 12px;
    background-color: #171100;
    width: 12px;
    height: 2px;
    border-radius: 1px;
}

.nav .nav-btn {
    margin-left: 58px;
}

/* ================= Home ================== */

.home {
    background-color: #fffcf4;
    padding-top: 60px;
}

.home .content {
    display: flex;
}

.home .main-img {
    width: 394.8px;
    height: 575.4px;
}

.home h1 {
    margin-bottom: 15px;
    color: #171100;
    font-family: "Sen";
    font-size: 3.625rem;
    font-weight: 700;
    line-height: 68px; /* 117.241% */
    letter-spacing: -1.16px;
}

.home .graph {
    padding: 4rem 0;
    margin-left: 190px;
}

.home .graph p {
    color: #5f5b53;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
}

.home .play-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .play-video p {
    margin-left: 12px;
    color: #171100;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.875rem; /* 166.667% */
}

.home .circle-play-btn {
    background-color: #fff;
    border-radius: 999px;
    padding: 12px 14px;
    margin-left: 28px;
    box-shadow: 0px 4px #cecece;
}

.home .circle-play-btn i {
    font-size: 12px;
    margin-left: 2px;
}

.home .graph .mode {
    display: flex;
    align-items: center;
    margin: 31.92px 0;
}

.home .mode-btn {
    padding: 15px 33px;
    color: #fff;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    border-radius: 32px;
}

.home .stats {
    display: flex;
}

.home .stats strong {
    color: #171100;
    font-family: Sen;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px; /* 122.727% */
}

.home .stats .stats-item:nth-child(2) {
    margin-left: 1.75rem;
}
