* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins";
}

/* =============== Common ================ */

.content {
    max-width: 1440px;
    width: 100%;
    padding: 0 135px;
}

a {
    display: inline-block;
    text-decoration: none;
}

.btn-black {
    display: inline-block;
    border-radius: 25px;
    color: #fff;
    background-color: #171100;
    padding: 12px 20px;
}

.btn-yellow {
    display: inline-block;
    border-radius: 25px;
    color: #fff;
    background-color: #ffb900;
    padding: 12px 20px;
}

/* ================ Header ================== */

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.nav-bar .nav-items {
    display: inline-block;
    color: #5f5b53;
    text-align: center;
    padding: 8px 12px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.nav-bar .nav-items-special {
    position: relative;
    color: #171100;
    font-family: Poppins;
    font-weight: 600;
}

.nav-bar .nav-items-special::after {
    position: absolute;
    content: "";
    top: calc(8px + 1.5rem);
    left: 12px;
    background-color: #171100;
    width: 12px;
    height: 2px;
    border-radius: 1px;
}

.nav .nav-btn {
    margin-left: 58px;
}
