<form action="/search" method="post">
    <label>Chọn nguyên liệu có sẵn:</label><br />
    <input type="checkbox" name="ingredients" value="thịt gà" /> Thịt gà<br />
    <input type="checkbox" name="ingredients" value="rau cải" /> Rau cải<br />
    <input type="checkbox" name="ingredients" value="cá" /> Cá<br />
    <input type="checkbox" name="ingredients" value="nấm" /> Nấm<br />
    <input type="checkbox" name="ingredients" value="đậu hũ" /> Đậu hũ<br />
    <input type="checkbox" name="ingredients" value="rau muống" /> Rau muống<br />
    <input type="submit" value="Tìm món ăn" />
</form>
